/* RouteTransition.css - GPU Accelerated Version */
/* Performance: Using transform3d for GPU layer promotion */

.route-transition {
  transition: all var(--transition-duration, 300ms) ease-in-out;
  /* GPU Acceleration */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform, opacity;
}

.route-transition__container {
  width: 100%;
  height: 100%;
  /* GPU Acceleration */
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

/* Animation States - GPU Accelerated */
.route-transition--idle {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.route-transition--animating {
  opacity: 0;
  transform: translate3d(0, 0, 0);
}

/* Animation Types - GPU Accelerated with transform3d */
.route-transition--fade {
  opacity: 0;
}
.route-transition--animating.route-transition--fade {
  opacity: 0;
}
.route-transition--idle.route-transition--fade {
  opacity: 1;
}

.route-transition--slide-up {
  transform: translate3d(0, 20px, 0);
  opacity: 0;
}
.route-transition--animating.route-transition--slide-up {
  transform: translate3d(0, 20px, 0);
  opacity: 0;
}
.route-transition--idle.route-transition--slide-up {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.route-transition--slide-down {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}
.route-transition--animating.route-transition--slide-down {
  transform: translate3d(0, -20px, 0);
  opacity: 0;
}
.route-transition--idle.route-transition--slide-down {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.route-transition--slide-left {
  transform: translate3d(20px, 0, 0);
  opacity: 0;
}
.route-transition--animating.route-transition--slide-left {
  transform: translate3d(20px, 0, 0);
  opacity: 0;
}
.route-transition--idle.route-transition--slide-left {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.route-transition--slide-right {
  transform: translate3d(-20px, 0, 0);
  opacity: 0;
}
.route-transition--animating.route-transition--slide-right {
  transform: translate3d(-20px, 0, 0);
  opacity: 0;
}
.route-transition--idle.route-transition--slide-right {
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.route-transition--scale {
  transform: translate3d(0, 0, 0) scale(0.95);
  opacity: 0;
}
.route-transition--animating.route-transition--scale {
  transform: translate3d(0, 0, 0) scale(0.95);
  opacity: 0;
}
.route-transition--idle.route-transition--scale {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
}
